{% extends 'base.html' %}

{% block contents %}
<style>
    @font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    }
  
    @font-face {
      font-family: 'Pretendard-Thin';
      src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Thin.woff') format('woff');
      font-weight: 100;
      font-style: normal;
    }
  
    .nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff;
    }

    .title {
        font-family: 'Pretendard-Regular';
        font-size: 24px;
        font-weight: 500;
    }

    .writer {
        margin: 0;
        color: gray;
        font-size: 16px;
        padding-bottom: 6px;
    }

    .date {
        font-size: 14px;
        color: black;
    }

    .content {
        display: block;
        padding: 0;
        margin: 0;
        align-items: flex-start;
        flex-wrap: wrap;
        flex-direction: row;
        align-content: stretch;
    }

    .photo {
        display: block;
        margin: 0;
        padding: 0;
    }

    .body {
        display: block;
        margin-top: 1em;
        margin-bottom: 0;
        padding: 0;
    }

    .mainbox > p:nth-child(1) {
        color: gray;
        display: block;
    }

    .backBtn {
        color: black;
        font-size: 14px;
        display: block;
    }

    .editBtn {
        color: black;
        font-size: 14px;
        padding: 4px 8px 4px 0;
        text-decoration-line: none;
        margin-right: 0.4em;
    }

    .delBtn {
        color: gray;
        font-size: 14px;
        padding: 4px 8px;
        text-decoration-line: none;
    }

</style>
<div class="mainbox">
    <p>제가 찍은 사진의 상세 페이지입니다 📷  </p>
    <a href="{% url 'photo' %}" class="backBtn">목록으로 돌아가기</a>
    <hr>

    <h2 class="title">{{photo.title}}</h2>
    <p class="writer">{{photo.writer}}</p>
    <p class="date">{{photo.pub_date}}</p>
    
    <div class="content">
    {% if photo.image %}
    <img src="{{photo.image.url}}" alt="이미지" width="400" class="photo">
    {% endif %}

    <p class="body">{{photo.body}}</p>
    </div>

    <br>
    <a href="{% url 'edit' photo.id %}" class="editBtn">수정하기</a>
    <a href="{% url 'delete' photo.id %}" class="delBtn">삭제하기</a>

</div>
{% endblock %}