{% extends 'base.html' %}
{% load static %}

{% block contents %}
<style>
    @font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    }
  
    @font-face {
      font-family: 'Pretendard-Thin';
      src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Thin.woff') format('woff');
      font-weight: 100;
      font-style: normal;
    }
  
    .nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff;
    }

    .mainbox > p:nth-child(1) {
        color: gray;
    }

    .place-container {
        display: flex;
        justify-content: space-between;
    }

    .image1 {
        display: inline;
        margin-right: 1em;
    }

    .text1{
        font-family: 'Pretendard-Regular';
        font-size: 14px;
    }

    .text2 {
        font-family: 'Pretendard-Regular';
        margin: 0;
    }

    .image2 {
        display: inline;
    }

    .img-container2 {
        display: inline-flex;
        margin: 0 0 10% 0;
        padding: 0;
    }

    .image3 {
        display: inline;
        margin-right: 1em;
    }

    .text3 {
        font-family: 'Pretendard-Regular';
        margin: 0 1em;
    }

</style>
<div class="mainbox">
    <p>제가 좋아하는 장소는.. 🌄</p>
    <br>
    <h4>집 🏠</h4>
    <div class="text1">
        <p>저는 정말 진짜로 집을 너무 좋아합니다🤍<br>하루 나가면 하루는 꼭 쉬어줘야 하는 파워 집순이라<br>집에서 최대 5일동안 안나가본 적도 있습니다..!
            <br>집을 제외하고 제가 좋아하는 장소를 꼽자면..</p>
    </div>
    <br>
    <hr>
    <h4>바다 🌊</h4>
        <div class="text2">
            <p>제주도, 강릉, 속초, 부산 등등 <br>전부 통틀어 <b>'바다'</b>라는 공간을 굉장히 좋아합니다. 
                <br>탁트인 바다를 보고있으면 속이 시원하기도 하고 현실에서 벗어난 느낌이 들어서 가고싶다는 생각을 자주 하는 것 같습니다. 
                <br>바쁘게 일상생활을 하다보면 생각보다 쉽게, 자주 갈 수 없는 곳이기 때문에 
                <br>아쉬운대로 핸드폰 배경이라도 종종 바다 사진으로 설정해두곤 합니다..</p>
        </div>
    <div class="place-container">
        <div class="place1">
            <img src="{% static 'place1.JPEG'%}" alt="장소1" height="300">
        </div>
        <div class="place2">
            <img src="{% static 'place2.JPEG'%}" alt="장소2" height="300">
        </div>
        <div class="place3">
            <img src="{% static 'place3.JPEG'%}" alt="장소3" height="300">
        </div>
        <div class="place4">
            <img src="{% static 'place4.JPEG'%}" alt="장소4" height="300">
        </div>
    </div>



</div>

{% endblock %}